:root {
    --primary-color: #F5F5F5;
    --secondary-color: #8F8F8F;
    --back-color: #212529;
    --next-btn-color: #cfe2ff;
    --back-btn-color: #fbc886;
}

/* Entire book */
.container {
    margin: 0;
    padding: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

input {
  display: none;
}
img {
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.book {
    display: flex;
    background-color: #A67B5B;
    border: rgb(64, 118, 243) solid 5px;
    border-radius: 10px;
}

#cover {
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flip-book {
    width: 700px;
    height: 700px;
    position: relative;
    perspective: 1500px;
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d; 
    transform: rotateY(0deg);
    transition: .5s;
    color: #000;
}

p {
    font-size: 14px;
    line-height: 24px;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rbga(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.next-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.next-btn:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--next-btn-color);
}

.back-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.back-btn:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--back-btn-color);
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#c1:checked ~ .flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

/* TODO: Portrait Mode Layout */

