:root {
  --primary-color: hsla(0, 21%, 82%);
  --other-color: hsla(0, 21%, 82%, 0.655);
  --secondary-color: #4286f4;
  --back-color: #212529;
  --rainbow-color: linear-gradient(
    45deg,
    red,
    blue,
    green,
    yellow,
    #e11d74,
    black,
    #ffff00,
    #aa0000
  );
}

body {
  background-color: var(--back-color) !important;
  overflow-x: hidden;
}

nav {
  display: grid;
  background-color: var(--other-color);
  height: 50px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
}

.navTab {
  text-decoration: none;
  color: black !important;
  font-size: large;
  transition: font-size 0.3s ease;
}

.navTab:hover {
  color: white !important;
  font-size: 1.5rem;
}

.navLi {
  color: black;
  list-style-type: none;
  display: flex;
  font-size: large;
  transition: font-size 0.3s ease;
}
.navLi:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.heading {
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

nav::before,
nav::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  background: var(--rainbow-color);
  background-size: 400%;
  width: 100%;
  height: 60px;
  z-index: -1;
  animation: animate 25s linear infinite;
}

nav::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

#title {
  color: white;
}

/* Table */
.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

section {
  margin: 0 30px 0 30px;
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  #project {
    color: white;
  }

}

.head {
  font-weight: bold;
  text-align: center;
  color: white;
}

td {
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  color: white;
}

#project-pic {
  width: 800px;
  height: 500px;
  display: grid;
  background-color: var(--rainbow-color);
  @media (max-width: 700px) {
    width: 450px;
    height: 250px;
  }
}

#project-pic::before,
#project-pic::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  background: var(--rainbow-color);
  background-size: 400%;
  width: 100%;
  height: 60px;
  z-index: -1;
  animation: animate 25s linear infinite;
}

#project-pic::after {
  filter: blur(25px);
}
.devs {
  color: white;
}