:root {
  --primary-color: #008080;
  --secondary-color: #ff7f50;
}

nav {
  background-color: var(--primary-color);
  border-radius: 20px;
  height: 50px;
  align-content: center;
  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    text-decoration: none;
  }

  li {
    color: black;
    list-style-type: none;
    display: flex;
    font-size: large;
  }
  li:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }
}

.heading {
  text-align: center;
}

content {
  height: 580px;
}

footer {
  background-color: var(--primary-color);
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
