:root {
  --primary-color: #F5F5F5;
  --secondary-color: #8F8F8F;
  --back-color: #212529;
  --next-btn-color: #cfe2ff;
  --back-btn-color: #fbc886;
}

/* Entire book */

.container {
  position: relative;
  height:100vh;
  display: flex;
justify-content: center;
  font-family: "Roboto", sans-serif;
}

input {
display: none;
}

.site {
  width: 380px;
  height: 250px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.site:hover {
  transform: scale(1.05);
}

.book {
  display: flex;
  position: relative;
  background-color: #A67B5B;
  border: rgb(64, 118, 243) solid 5px;
  border-radius: 10px;
  width: auto;
}

#cover {
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.flip-book {
  width: 400px;
  height: 700px;
  position: relative;
  perspective: 1500px;
  border-radius: 10px;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d; 
  transform: rotateY(0deg);
  transition: .5s;
  color: #000;
}

p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  box-sizing: border-box;
  box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  border-radius: 0 10px 10px 0;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
}

.next-btn, .back-btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.next-btn:hover, .back-btn:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 221, 255);
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

#c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}
