body {
    background-color: purple;
    flex-wrap: wrap;
    flex-grow: unset;
}

header {
    border: white solid 5px;
    background-color: black;
    color: white;
    text-align: center;
    float: top;
}

nav {
    background-color: goldenrod;
    border: solid black 5px;
    outline: solid white 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (max-width: 1100px) {
        flex-direction: column;
    }
}

ul a {
    color: white;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
}

h4 {
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
}

main {
    background-color: rgb(30, 110, 53);
    border: solid black 5px;
    outline: solid white 5px;
    color: white;
    text-wrap: wrap;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

li {
    text-align: left;
    flex-direction: column;
    padding: 10px;
}